<?xml version="1.0" encoding="iso-8859-1"?>
<web-app
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<listener>
		<listener-class>com.tournamentpool.application.TournamentSingletonProvider</listener-class>
	</listener>

	<listener>
		<listener-class>com.tournamentpool.application.WorkTrackerContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>httpWorkFilter</filter-name>
		<filter-class>com.deere.isg.worktracker.servlet.HttpWorkFilter</filter-class>
	</filter>

	<filter>
		<filter-name>requestBouncerFilter</filter-name>
		<filter-class>com.deere.isg.worktracker.servlet.RequestBouncerFilter</filter-class>
	</filter>

	<filter>
		<filter-name>zombieFilter</filter-name>
		<filter-class>com.deere.isg.worktracker.servlet.ZombieFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.Admin</servlet-name>
		<servlet-class>com.tournamentpool.servlet.Admin</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AddSiteAdminsServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AddSiteAdminsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.MyTournamentServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.MyTournamentServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AdminListServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AdminListServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.RegistrationServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.RegistrationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.ResetPasswordServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.ResetPasswordServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AssignBracketToPool</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AssignBracketToPool</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AssignSeeds</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AssignSeeds</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.PlayerMaintenance</servlet-name>
		<servlet-class>com.tournamentpool.servlet.PlayerMaintenance</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AddAdminsServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AddAdminsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.BracketMaintenance</servlet-name>
		<servlet-class>com.tournamentpool.servlet.BracketMaintenance</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.PoolMaintenance</servlet-name>
		<servlet-class>com.tournamentpool.servlet.PoolMaintenance</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.Tournament</servlet-name>
		<servlet-class>com.tournamentpool.servlet.Tournament</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.LoginServlet</servlet-name>
		<servlet-class>com.tournamentpool.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.CreateTournament</servlet-name>
		<servlet-class>com.tournamentpool.servlet.CreateTournament</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.CreateSubTournament</servlet-name>
		<servlet-class>com.tournamentpool.servlet.CreateSubTournament</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.CreateTeam</servlet-name>
		<servlet-class>com.tournamentpool.servlet.CreateTeam</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>com.tournamentpool.servlet.TeamSynonymServlet</servlet-name>
        <servlet-class>com.tournamentpool.servlet.TeamSynonymServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.CreateLeague</servlet-name>
		<servlet-class>com.tournamentpool.servlet.CreateLeague</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>com.tournamentpool.servlet.AddTeamsToLeague</servlet-name>
		<servlet-class>com.tournamentpool.servlet.AddTeamsToLeague</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>com.tournamentpool.servlet.ProfileServlet</servlet-name>
        <servlet-class>com.tournamentpool.servlet.ProfileServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>workHttpServlet</servlet-name>
		<servlet-class>com.deere.isg.worktracker.servlet.WorkHttpServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>

	<filter-mapping>
		<filter-name>httpWorkFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>requestBouncerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>zombieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AddSiteAdminsServlet</servlet-name>
		<url-pattern>/AddSiteAdmins</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.MyTournamentServlet</servlet-name>
		<url-pattern>/MyTournament</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AdminListServlet</servlet-name>
		<url-pattern>/AdminList</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.RegistrationServlet</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.ResetPasswordServlet</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AssignBracketToPool</servlet-name>
		<url-pattern>/AssignBracketToPool</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AssignSeeds</servlet-name>
		<url-pattern>/AssignSeeds</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.PlayerMaintenance</servlet-name>
		<url-pattern>/PlayerMaintenance</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AddAdminsServlet</servlet-name>
		<url-pattern>/AddAdmins</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.BracketMaintenance</servlet-name>
		<url-pattern>/BracketMaintenance</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.PoolMaintenance</servlet-name>
		<url-pattern>/PoolMaintenance</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.Tournament</servlet-name>
		<url-pattern>/Tournament</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.CreateTournament</servlet-name>
		<url-pattern>/CreateTournament</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.CreateSubTournament</servlet-name>
		<url-pattern>/CreateSubTournament</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.CreateTeam</servlet-name>
		<url-pattern>/CreateTeam</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.tournamentpool.servlet.TeamSynonymServlet</servlet-name>
        <url-pattern>/ManageSynonyms</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.CreateLeague</servlet-name>
		<url-pattern>/CreateLeague</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.tournamentpool.servlet.AddTeamsToLeague</servlet-name>
		<url-pattern>/AddTeamsToLeague</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.tournamentpool.servlet.ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>workHttpServlet</servlet-name>
		<url-pattern>/health/outstanding</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ViewStatusMessages</servlet-name>
		<url-pattern>/lbClassicStatus</url-pattern>
	</servlet-mapping>
</web-app>
